<div class="row">
    <div class="col-3">
    </div>
      <div class="col-6 pos">
        <div ngbDropdown class="d-inline-block">
          <div>
            <button class="btn btn-outline-primary mb-2" id="dropdownBasic1" ngbDropdownToggle>Select State</button>
            <div   ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let state of uniqueStates" (click)="sendState(state)" ngbDropdownItem>{{state}}</button>
            </div>
          </div>
          <h4 class="mt-1 mb-2" *ngIf="selectedState">Selected State : {{selectedState}}</h4>
  
      </div>
      </div>
</div>

